syntax: glob

*.local

.idea/
build/*
tmp/*
*/input/*

*.pdf
*.txt
*.bc
*.ll
*.d
*.o
*.so

*.out
*.asm
*.exe
*.a
*.pyc

*.log
*.err

nops.c

exp/02_fi/__build/
exp/02_fi/dependencies/
exp/02_fi/logs/
data/
